* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  color: #f6f6f6;
  height: 100vh;
  box-sizing: border-box;
}

.titulo-destaque {
  color: #22d4fd;
}

.presentacion {
  display: flex;
  alaign-items: center;
}
