@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  color: #f6f6f6;
}

.titulo-destaque {
  color: #22d4fd;
}

.presentacion {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentacion__contenido {
  width: 615px;
}

.presentacion__contenido__titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}

.presentacion__contenido__texto {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.presentacion__enlaces {
  display: flex;
  justify-content: space-between;
}

.presentacion__enlaces__link {
  width: 280px;
  background-color: #22d4fd;
  color: #0000;
  text-align: center;
  padding: 221.5px 0;
  border-radius: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}
